* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  cursor: url(hand.png), auto;

}
body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff00;
  /* cursor: url(hand.png), auto; */
}

.flexAbs {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.draggable {
  height: 5vw;
  width: auto;
  position: absolute;
  /* z-index: -1; */
  /* max-height: 100vh;
  max-width: 100vw; */
  /* object-fit: contain; */
  /* padding: 1vw; */
}
.dragWrapper {
  width: 5vw;
}
.circle-container {
  display: float;
  justify-content: center;
  align-items: center;
}

@media (min-aspect-ratio: 1/1) {
  .circle-container {
    width: 90vh;
    height: 90vh;
  }
  .center {
    max-width: 20vh;
    max-height: 20vh;
  }
  .deg0 {
    left: 50vh;
    top: 10vh;
  }
  .deg30 {
    left: 70vh;
    top: 13.36vh;
  }
  .deg60 {
    left: 86.64vh;
    top: 30vh;
  }
  .deg90 {
    left: 90vh;
    top: 50vh;
  }
  .deg120 {
    left: 86.64vh;
    top: 70vh;
  }
  .deg150 {
    left: 70vh;
    top: 86.64vh;
  }
  .deg180 {
    left: 50vh;
    top: 90vh;
  }
  .deg210 {
    left: 30vh;
    top: 86.64vh
  }
  .deg240 {
    left: 13.36vh;
    top: 70vh;
  }
  .deg270 {
    left: 10vh;
    top: 50vh;
  }
  .deg300 {
    left: 13.36vh;
    top: 30vh;
  }
  .deg330 {
    left: 30vh;
    top: 13.36vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  .circle-container {
    width: 50vw;
    height: 50vw;
  }
  .center {
    max-width: 50vw;
    max-height: 50vw;
  }
  .deg0 {
    left: 50vw;
    top: 10vw;
  }
  .deg30 {
    left: 70vw;
    top: 13.36vw;
  }
  .deg60 {
    left: 86.64vw;
    top: 30vw;
  }
  .deg90 {
    left: 90vw;
    top: 50vw;
  }
  .deg120 {
    left: 86.64vw;
    top: 70vw;
  }
  .deg150 {
    left: 70vw;
    top: 86.64vw;
  }
  .deg180 {
    left: 50vw;
    top: 90vw;
  }
  .deg210 {
    left: 30vw;
    top: 86.64vw
  }
  .deg240 {
    left: 13.36vw;
    top: 70vw;
  }
  .deg270 {
    left: 10vw;
    top: 50vw;
  }
  .deg300 {
    left: 13.36vw;
    top: 30vw;
  }
  .deg330 {
    left: 30vw;
    top: 13.36vw;
  }
}
