* {
  margin: 0;
  padding: 0;
  cursor: url(hand.png), auto;

}
body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  background-color: #ffff00;
  /* cursor: url(hand.png), auto; */
}

.flexAbs {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  z-index: 1;
}

.platestuff {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
p {
   text-align: center;
 }

.draggable {
  height: 5vw;
  width: auto;
  position: absolute;
  /* z-index: -1; */
  /* max-height: 100vh;
  max-width: 100vw; */
  /* object-fit: contain; */
  /* padding: 1vw; */
}
.dragWrapper {
  width: 5vw;
}

.circle-container {
  display: float;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#plateInstructions {
  z-index: 2;
  position: fixed;
  top: 45vh;
}

/* for when it is wider than tall */
@media (min-aspect-ratio: 1/1) {
  /* .circle-container {
    width: 90vh;
    height: 90vh;
  } */
  /* .center {
    max-width: 20vh;
    max-height: 20vh;
  } */
  #droppable {
    position: fixed;
    width: 60vh;
    top: 15vh;
    left: calc(50vw - 30vh);
  }
  .deg0 {
    left: calc(50vh + 50vw - 2.5vw - 50vh);
    top: 5vh;
  }
  .deg30 {
    left: calc(70vh + 50vw - 2.5vw - 50vh);
    top: 8.36vh;
  }
  .deg60 {
    left: calc(86.64vh + 50vw - 2.5vw - 50vh);
    top: 25vh;
  }
  .deg90 {
    left: calc(90vh + 50vw - 2.5vw - 50vh);
    top: 45vh;
  }
  .deg120 {
    left: calc(86.64vh + 50vw - 2.5vw - 50vh);
    top: 65vh;
  }
  .deg150 {
    left: calc(70vh + 50vw - 2.5vw - 50vh);
    top: 81.64vh;
  }
  .deg180 {
    left: calc(50vh + 50vw - 2.5vw - 50vh);
    top: 85vh;
  }
  .deg210 {
    left: calc(30vh + 50vw - 2.5vw - 50vh);
    top: 81.64vh
  }
  .deg240 {
    left: calc(13.36vh + 50vw - 2.5vw - 50vh);
    top: 65vh;
  }
  .deg270 {
    left: calc(10vh + 50vw - 2.5vw - 50vh);
    top: 45vh;
  }
  .deg300 {
    left: calc(13.36vh + 50vw - 2.5vw - 50vh);
    top: 25vh;
  }
  .deg330 {
    left: calc(30vh + 50vw - 2.5vw - 50vh);
    top: 8.36vh;
  }
}
/* for when it is taller than wide */
@media (max-aspect-ratio: 1/1) {
  #droppable {
    position: fixed;
    width: 60vw;
    top: calc(50vh - 30vw);
    left: 20vw;
  }
  /* .center {
    max-width: 50vw;
    max-height: 50vw;
  } */
  .deg0 {
    left: 50vw;
    top: calc(10vw + 50vh - 2.5vh - 50vw);
  }
  .deg30 {
    left: 70vw;
    top: calc(13.36vw + 50vh - 2.5vh - 50vw);
  }
  .deg60 {
    left: 86.64vw;
    top: calc(30vw + 50vh - 2.5vh - 50vw);
  }
  .deg90 {
    left: 90vw;
    top: calc(50vw + 50vh - 2.5vh - 50vw);
  }
  .deg120 {
    left: 86.64vw;
    top: calc(70vw + 50vh - 2.5vh - 50vw);
  }
  .deg150 {
    left: 70vw;
    top: calc(86.64vw + 50vh - 2.5vh - 50vw);
  }
  .deg180 {
    left: 50vw;
    top: calc(90vw + 50vh - 2.5vh - 50vw);
  }
  .deg210 {
    left: 30vw;
    top: calc(86.64vw + 50vh - 2.5vh - 50vw);
  }
  .deg240 {
    left: 13.36vw;
    top: calc(70vw + 50vh - 2.5vh - 50vw);
  }
  .deg270 {
    left: 10vw;
    top: calc(50vw + 50vh - 2.5vh - 50vw);
  }
  .deg300 {
    left: 13.36vw;
    top: calc(30vw + 50vh - 2.5vh - 50vw);
  }
  .deg330 {
    left: 30vw;
    top: calc(13.36vw + 50vh - 2.5vh - 50vw);
  }
}
/* tooltipfun */

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* corner stuff follows */

.topButtons {
  display: flex;
  justify-content: space-between;

}

.bottomButtons {
  position: fixed;
  bottom: 0;
}

#cook {
  position: fixed;
  right: 0;
}

.btn2 {
  border: none;
  background-color: transparent;
  font-size: 16px;
}
/* about toggle thingy */
.abtcontent {
  display: none;
}
/* how the about thing looks */
.subwindow {
  z-index: 10;
  opacity:1;
  background-color: #ffff00;
  position:fixed;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
}
h1 {
  text-align: center;

}
.abtText {

}
