body, html {
  height: 100%;
}
body {
  background-image: radial-gradient(#000000, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  position: absolute;
  width: 20vw;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.btn {
  top: 15%;
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.btn2 {
  position: absolute;
  bottom: 16px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.top{
  position: absolute;
  left: 300px;
  top: 15px;
  z-index: -1;
}

.hallo {
  position: absolute;
  top: 180px;
  z-index: -1;
}
/* current tab */
.tabs button.active {
  background-color: pink;
}

/* tab content default */
.tabcontent{
  display: none;
}


#Organism1 {
  left: 32%;
}

#Organism2 {
  left: 25%;
}

#Organism3 {
  left: 17%;
}

#Organism4 {
  left: 8%;
}

#Organism5 {
  left: 4%;
}

#Organism6 {
  left: 56%;
}

#Organism7 {
  left: 50%;
}

#Organism8 {
  left: 44%;
}

#Organism9 {
  left: 38%;
}

#Organism10 {
  left: 61%;
}

#Tooltab{
  left: 20%;
}

#Elementtab{
  left: 40%;
}

#Sensetab{
  left: 60%;
}

#Organismtab{
  left: 80%;
}

#Back{
  left: 20px;
}
#About{
  right: 20px;
}

.btn:hover {background: transparent;}
.btn2:hover {background: transparent;}

.Tool {color: black;}
.Elements {color: black;}
.Senses {color: black;}
.Organism {color: black;}
.Back {color: black;}
.About {color: black;}
